:host {
  display: block;
  min-height: 100svh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  text-align: center;
  padding: 16px;

  img {
    margin: auto;
    display: block;
    height: 100px;
    margin-bottom: 24px;
  }
}

.panel-body {
  margin-bottom: 18px;

  p {
    margin-bottom: 12px;
  }

  &__text-wrapper {
    margin-bottom: 32px;
  }
}
