@if (!!form) {
  <div [formGroup]="form">
    <div class="form-group">
      <label for="page-form--input--picture">Picture URL</label>
      <div class="input-wrapper">
        <input
          pInputText
          type="text"
          id="page-form--input--picture"
          formControlName="pictureUrl"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="page-form--input--title">Title</label>
      <div class="input-wrapper">
        <input
          pInputText
          type="text"
          id="page-form--input--title"
          formControlName="title"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="page-form--input--subtitle">Subtitle</label>
      <div class="input-wrapper">
        <input
          pInputText
          type="text"
          id="page-form--input--subtitle"
          formControlName="subtitle"
        />
      </div>
    </div>

    <p-divider />

    <div
      *ngFor="
        let button of form.controls?.buttons?.controls;
        index as i;
        first as isFirst
      "
      class="form-group"
      formArrayName="buttons"
    >
      <!-- <label>Link button ({{ i + 1 }})</label>
      <div class="input-wrapper">
        <input pInputText type="text" [formControlName]="i" />
        <p-button icon="pi pi-check" />
      </div> -->
      <app-link-button-control
        [formControlName]="i"
        [index]="i"
        [shouldDisplayTrash]="!isFirst"
        (removeInput)="removeInput.emit(i)"
      />
    </div>

    <p-button
      outlined
      label="Add button"
      icon="pi pi-plus"
      severity="contrast"
      (onClick)="addLinkButton.emit()"
    />
  </div>
}
