:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;

  app-editor-preview {
    display: block;
    flex-grow: 1;
    max-height: calc(100vh - 32px);
    position: sticky;
    top: 16px;
  }

  @media (min-width: 978px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    p-panel {
      grid-column: span 2 / span 2;
    }
  }

  .publish-btn-wrapper {
    width: 100%;
    text-align: end;
  }
}
