<p-panel [style]="{ height: '100%' }" header="Editor">
  <p class="m-0">
    Lorem ipsum dolor sit amet... Lorem ipsum dolor sit amet... Lorem ipsum
    dolor sit amet... Lorem ipsum dolor sit amet... Lorem ipsum dolor sit
    amet... Lorem ipsum dolor sit amet... Lorem ipsum dolor sit amet... Lorem
    ipsum dolor sit amet... Lorem ipsum dolor sit amet... Lorem ipsum dolor sit
    amet...Lorem ipsum dolor sit amet...
  </p>
</p-panel>

<app-editor-preview style="display: block; height: 100%" />
