.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-input {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  &__input-wrapper {
    display: flex;

    input {
      width: 100%;
    }
  }

  &__color-picker {
    display: flex;
    align-items: center;
  }

  &--multiple {
    display: flex;
    gap: 12px;
    justify-content: space-between;
  }
}
