<div class="p-panel preview-panel-container">
  <div class="phone">
    <div class="camera"></div>
    <div class="top-assets">
      <div class="sensor"></div>
      <div class="audio"></div>
    </div>

    <div class="screen">
      <div class="preview-screen">
        <img class="photo" [src]="pageData?.pictureUrl" />
        <div class="title">{{ pageData?.title }}</div>

        <div class="subtitle">{{ pageData?.subtitle }}</div>

        <div class="links-container">
          @for (button of pageData?.buttons; track $index) {
            <a
              class="link-button"
              target="_blank"
              [href]="button?.url"
              [style.background-color]="button?.bgColor"
              [style.color]="button?.textColor"
            >
              {{ button?.text }}
            </a>
          }
        </div>
      </div>
    </div>

    <div class="button"></div>
  </div>
</div>
