.preview-panel-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 12px;
}

.preview-screen {
  overflow-y: auto;
  scroll-behavior: smooth;

  padding: 24px 12px;
  width: 100%;
  max-height: 100%;

  .photo {
    display: block;
    margin: auto;
    height: 48px;
    width: 48px;
    border-radius: 999px;
    background-color: gainsboro;
  }

  .title {
    margin-top: 12px;
    text-align: center;
    font-weight: bold;
  }

  .subtitle {
    margin-top: 4px;
    text-align: center;
    font-size: 0.8rem;
  }

  .links-container {
    margin-top: 16px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .link-button {
      width: 220px;
      padding: 8px 12px;
      border-radius: 4px;

      text-align: center;
      font-size: 0.85rem;
      text-decoration: none;
      color: #4e4e4e;

      background-color: moccasin;
      box-shadow:
        rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;

      &:hover {
        transform: scale(1.01);

        box-shadow:
          rgba(0, 0, 0, 0.1) 0px 3px 8px 0px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      }
    }
  }
}

.phone {
  border: 1px solid #4e4e4e;

  width: 300px;
  height: 540px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.screen {
  border: 1px solid #4e4e4e;

  width: 280px;
  height: 420px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.button {
  border: 1px solid #4e4e4e;

  position: absolute;
  bottom: 12px;
  width: 35px;
  height: 35px;
  border-radius: 999px;
}

.camera {
  border: 1px solid #4e4e4e;

  position: absolute;
  top: 12px;
  width: 8px;
  height: 8px;
  background: #4e4e4e;
  border-radius: 999px;
}

.top-assets {
  position: absolute;
  top: 32px;
  display: flex;
  gap: 6px;

  .sensor {
    border: 1px solid #4e4e4e;

    width: 4px;
    height: 4px;
    background: #4e4e4e;
    border-radius: 999px;
  }

  .audio {
    border: 1px solid #4e4e4e;

    width: 56px;
    height: 4px;
    background: #4e4e4e;
    border-radius: 999px;
  }
}
