<div class="p-panel preview-panel-container">
  <div class="phone">
    <div class="camera"></div>
    <div class="top-assets">
      <div class="sensor"></div>
      <div class="audio"></div>
    </div>

    <div class="screen">
      <div class="preview-screen">
        <div class="photo"></div>
        {{ pageData | json }}

        <div class="title">Nicolas Guerrero</div>

        <div class="subtitle">Web Developer</div>

        <div class="links-container">
          <div class="link-button">My website</div>
          <div class="link-button">My website with a very very large text</div>
          <!-- <div class="link-button">My website</div>
          <div class="link-button">My website</div>
          <div class="link-button">My website</div>
          <div class="link-button">My website</div>
          <div class="link-button">My website</div>
          <div class="link-button">My website</div> -->
        </div>
      </div>
    </div>

    <div class="button"></div>
  </div>
</div>
